<!-- 

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <div class="navbar-nav ml-auto">
            <form class="d-flex">
                <input class="form-control me-2 mr-5" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bfe3fb;">
   <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" >friends App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      
      <ul class="navbar-nav mr-auto" >
      <ng-container  *ngIf="accountservice.currentUser$| async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active" >Friends </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active" >Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active" >Messages</a>
        </li>
      </ng-container>
      
        
      </ul>

      <div class="dropdown" dropdown *ngIf="accountservice.currentUser$| async as user">
        <img src="{{user.photoUrl}}" alt="{{user.username}}">
          <a class="dropdown-toggle" dropdownToggle>Welcome {{user.username | titlecase}} </a>
          <div class="dropdown-menu" *dropdownMenu>
              <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
      </div>
      <form *ngIf="(accountservice.currentUser$ | async) === null" #Loginform="ngForm" class="form-inline" (ngSubmit)="login()">
        <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="username" autocomplete="false" >
        <input  name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password" autocomplete="false">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Submit</button>
      </form>
    </div>
   </div>
  </nav>